*{
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    width: 100%;
    padding: 10px 60px;
    box-sizing: border-box;
    background-color: #ffffff;
}
#top-mobile-bar{
    display: inline-block;
}
nav h1{
    font-family: 'Archivo', sans-serif;
    display: inline-block;
    padding-right: 50px;
    font-size: 25px;
    color: #004d77;
    border-right: 2px solid #004d77;
}
nav h1 span{
    font-family: 'Archivo Black', sans-serif;
}
nav ul{
    display: inline-block;
    padding-left: 25px;
}
nav ul li{
    font-family: 'Archivo', sans-serif;
    display: inline-block;
    font-size: 25px;
    color: #004d77;
    margin-right: 15px;
    margin-left: 15px;
}
nav ul li:hover{
    text-decoration: underline;
}
#menu{
    font-family: 'Archivo', sans-serif;
    display: none;
    padding-right: 0px;
    font-size: 25px;
    color: #004d77;
    cursor: pointer;
}
#title-bar{
    width: 100%;
    background-color: #bce5ffff;
    padding: 40px 20px;
}
#title-bar h1{
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
    color: #004d77;
    width: 100%;
    text-align: center;
}
#container{
    margin: 0px 15%;
}
#container *{
    margin-top: 30px;
    margin-bottom: 30px;
}

#other-ways h1{
    font-family: 'Archivo', sans-serif;
    font-size: 35px;
    color: #004d77;
}
#other-ways ul{
    margin-left: 30px;
}
#other-ways li{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #2c2c2c;
    margin: 15px 0px;
}
#other-ways a{
    color:#004d77;
    text-decoration: underline solid #004d77;
}

#next-services{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#next-services h1{
    font-family: 'Archivo', sans-serif;
    font-size: 35px;
    color: #004d77;
    margin-bottom: 30px;
}
#next-services table, th, td {
    border: 2px solid #004d77;
    padding: 10px 20px 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #161616;
  }
  #next-services a{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border: 3px solid #004d77;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #004d77;
    transition: background-color 0.1s, color 0.2s;
}
#next-services a:hover{
    background-color: #004d77;
    color: #ffffff;
}

@media (max-width: 815px){
    nav{
        padding: 10px 20px;
    }
    #menu{
        display:inline-block;
    }
    #top-mobile-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: none;
        padding-left: 0px;
    }
    nav ul li{
        display: block;
        margin: 0px;
        text-align: center;
        padding: 5px 0px;
    }
    nav h1{
        border:none;
        padding: 0px;
    }
}
@media (max-width: 500px){
    #container{
        margin: 0px 5%;
    }
}